@font-face {
    font-family: wakanda;
    src: url(Font/wakandaforever-regular.otf);
    font-weight: 100;
}

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-size: 14px;
    font-family: sans-serif;
}

li {
    list-style-type: none;
}

div {
    display: block;
}

label {
    margin: 0;
}


/*hiding navbar*/

.hidden {
    display: none;
}


/*#1*/

.site-nav {
    min-width: 1188px;
    background-color: #003e52;
    position: relative;
    width: 100%;
    height: 140px;
}

.page-header {
    width: 100%;
    position: fixed;
    z-index: 2;
}

.page-header-content-wrap {
    background-color: #003e52;
    width: 100%;
}

.page-links-bar {
    position: relative;
    background: rgba(33, 33, 33, .25);
    min-width: 1006px;
    height: 25px;
    text-align: right;
}

.page-header .header-content {
    width: 1188px;
    min-width: 1188px;
    margin: 0 auto;
}

.page-links-bar .top-links-item {
    position: relative;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-align: left;
    color: #a8b2b7;
    padding: 0 17px;
}

.page-links-bar .top-links-item a {
    text-decoration: none;
}

.page-links-bar .top-links-item .orange,
.page-header .page-links-bar .top-links-item.orange {
    color: #ff7941;
}

.page-links-bar .top-links-item .cyan,
.page-header .page-links-bar .top-links-item.cyan {
    color: #37cfdd;
}

header .page-links-bar .top-links-item.grey {
    color: #a8b2b7;
}

.page-links-bar .top-popup-wrap {
    opacity: 0;
    padding-top: 10px;
    position: absolute;
    visibility: hidden;
    left: 50%;
    top: 150%;
}

.page-header .page-links-bar .top-popup-wrap .top-popup-content {
    background-color: #fff;
    position: relative;
    border: 1px solid #bfbfbf;
}

.page-header .page-links-bar .page-customcare-popup .care-list {
    font-size: 13px;
    line-height: 1.3;
    font-weight: 300;
    padding: 25px 25px 10px;
    margin: 0;
}

.page-links-bar .page-customcare-popup .care-item {
    text-align: left;
    display: block;
    position: relative;
    margin-bottom: 15px;
    padding: 5px 0 5px 40px;
}

.page-links-bar .page-customcare-popup .care-item .care-item-anchor {
    color: #6e686e;
    text-decoration: none;
    display: block;
}

.page-logo-bar {
    height: 75px;
    box-sizing: border-box;
    padding-top: 11px;
}

.page-logo-bar .logo-bar-content {
    position: relative;
}

.page-logo-bar .logo-bar-content .page-logo-content {
    display: inline-block;
    width: 200px;
    height: 39px;
}

.page-logo-bar .logo-bar-content .page-logo-content a {
    float: left;
}

.page-header .page-logo-bar .logo-bar-content .page-logo-content img {
    width: 127px;
    height: 40px;
}

.page-nav-search {
    width: 688px;
    display: inline-block;
    height: 45px;
    background-color: #fff;
    border-radius: 3px;
}

.search-box--2I2a {
    position: relative;
    width: 100%;
    height: 45px;
}

.search-box__bar--29h6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
}

.search-box__input--O34g {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 13px 19px;
    font-size: 14px;
    color: #212121;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 2px;
}

.search-box__search--2fC5 {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    line-height: 1;
}

.search-box__button--1oH7 {
    width: 45px;
    height: 45px;
    text-indent: -9999px;
    border: none;
    border-radius: 0 2px 2px 0;
    background: #f57224 url(#);
    background-size: 22px;
}

.page-header .page-logo-bar .logo-bar-content .page-nav-cart {
    display: inline-block;
    height: 38px;
    width: 40px;
    position: relative;
    margin: 0 0 0 20px;
}

.page-header .page-logo-bar .logo-bar-content .page-nav-cart .cart-icon {
    position: absolute;
    background-image: url(LazadaWebPage_files/TB10NSogiqAXuNjy1XdXXaYcVXa-986-877.png);
    background-position: -380px -714px;
    width: 29px;
    height: 26px;
    left: 50%;
    top: 50%;
    margin: -12px 0 0 -14px;
}

.page-header .mui-zebra-module {
    position: relative;
}

.page-site-nav-menu-active {
    width: 100%;
    top: auto !important;
    position: relative;
    height: 40px;
}

.page-site-nav-menu .page-site-menu-nav-container {
    width: 1188px;
    height: 100%;
    margin: auto;
    position: relative;
}

.page-site-menu-nav-category {
    width: 200px;
    float: left;
    height: 100%;
}

.page-site-menu-nav-category-label {
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.page-site-menu-nav-category-text {
    opacity: .85;
    margin-left: 20px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
    line-height: 40px;
}

.page-site-nav-menu-dropdown {
    visibility: hidden;
    padding: 0 !important;
    width: 200px;
    /* height: 344px; */
    position: absolute;
    background-color: orange;
}

.page-site-menu-root {
    padding: 8px 0 12px;
    list-style: none;
    height: 100%;
    margin: 10px;
}

.page-site-menu-root-item {
    margin-bottom: 15px;
    margin-left: 10px;
}

.page-menu-labels {
    list-style: none;
    overflow: hidden;
    height: 100%;
    padding: 0;
    margin: 0;
}

.page-menu-labels-item {
    margin-left: 10px;
    padding-right: 10px;
    display: inline-block;
    cursor: pointer;
    height: 40px;
    text-decoration: none;
}

.page-menu-labels-item-icon {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    height: 40px;
    font-size: 40px;
    color: #fff;
    position: relative;
}

.page-menu-labels-item-text {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    height: 40px;
    font-size: 14px;
    color: rgba(255, 255, 255, .68);
}


/*#2*/

.advertisment_panel h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: initial;
    line-height: normal;
}

.advertisment_panel {
    overflow: hidden;
    background: #fff;
    font-size: 13px;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    height: 80px;
    min-width: 1006px;
    max-width: 1200px;
}

.panel_element {
    background: #fff;
    padding: 12px 16px;
    float: left;
    width: 168px;
}

.shop_rate {
    font-size: 13px;
    font-weight: 700;
}

.shop_name {
    font-size: 18px;
    height: 26px;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    font-weight: 100;
}

._3oUCj {
    float: right;
    margin-top: 8px;
}

.panel_element-text-right {
    text-align: right;
}

._1h4j3 {
    right: 2px;
    display: inline-block;
    font-size: 12px;
    color: #183545;
    text-transform: uppercase;
    padding: 12px 26px 12px 16px;
}

.root {
    margin: 0 auto;
}

.layout-container {
    max-width: 1200px;
    margin: 0 auto;
}

.hd .shop-bg img {
    width: 100%;
}

.hd {
    width: 100%;
    height: 178px;
}

.shop-bg {
    width: 100%;
    height: 128px;
    background: url(LazadaWebPage_files/3b474053e7cf0e5c5297282fc39f03f1.jpg);
    background-size: 100% 100%;
}

.hd .shop {
    text-decoration: none;
    display: flex;
    margin-left: 14px;
}

.shop-content {
    min-width: 250px;
    background: #fff;
    padding: 18px 20px;
    max-width: 1172px;
    display: flex;
    margin-top: 14px;
}

.shop-logo {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.shop-logo img {
    max-width: 100%;
}

.shop-description {
    padding-left: 20px;
}

.shop-name {
    font-size: 20px;
    color: #555;
}

.shop-badge {
    width: 92px;
    color: #ae1300;
    margin-left: 12px;
}

.tabs {
    display: flex;
    background: #fff;
    height: 50px;
    align-items: center;
}

.tab.active {
    color: #f57224;
    margin-left: 30px;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 50px;
    height: 45px;
}

.tab {
    font-size: 14px;
    color: #9e9e9e;
    margin-left: 30px;
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 50px;
    height: 45px;
}


/*#2.3*/

.ft {
    background: #fff;
    height: 52px;
    margin: 8px 0;
}

.ft .nav-list {
    height: 50px;
    line-height: 50px;
}

.next-menu.hoz {
    margin: 0;
    padding: 0;
}

.next-menu-item {
    padding: 0 20px;
    float: left;
}

.next-menu-item a {
    color: #757575;
    text-decoration: none;
}


/*#3.1*/

.img-wrap img {
    max-height: 100%;
    max-width: 100%;
}

.layout#bd_0 {
    width: 100%;
    margin-bottom: 20px;
}

.multi-list {
    width: 100%;
    height: 159.5px;
    display: flex;
    align-items: center;
}

.multi-main-list {
    width: 100%;
    height: 100%;
}

.multi-main-list li {
    float: left;
    width: 191px;
    height: 100%;
    margin-right: 9px;
}

.multi-main-list li a {
    text-decoration: none;
    color: black;
}

.img-wrap {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.img-wrap img {
    max-height: 100%;
    max-width: 100%;
}

.img-name {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 55px;
    /*dùng line-height cho span tag*/
    text-decoration: none;
}

.carousel-indicators {
    z-index: 1;
}

#bd_3 {
    margin-bottom: 20px;
}

.intl-lazada-smod-carouselProductRecommend-wrap {
    background-color: white;
    height: 354px;
}

.carousel-left {
    width: 20%;
    height: 100%;
    float: left;
}

.carousel-left a img {
    width: 100%;
    height: 100%;
}

.carousel-right {
    width: 80%;
    float: right;
    height: 100%;
    padding: 10px 0px 10px 10px;
}

#bd_4 {
    margin-bottom: 20px;
}

#bd_4 #carousel2 a {
    width: 5%;
}

#bd_4 .product {
    width: 188px;
    margin: 10px;
    float: left;
}

#bd_4 .product a {
    text-decoration: none;
    color: gray;
}

.product-price {
    font-size: 18px;
    color: #F57224;
    line-height: 18px;
    margin-bottom: 6px;
}

#bd_4 .product:first-child {
    margin-left: 70px;
}

#bd_4 .carousel-item img {
    width: 188px !important;
    height: 188px !important;
}

#bd_5 {
    margin-bottom: 20px;
}

#bd_5 .product {
    width: 188px;
    margin: 7px;
    background-color: white;
}

#bd_5 .products {
    margin: -6px;
    display: flex;
    /*hàng mới*/
    flex-wrap: wrap;
}

#bd_5 .products a {
    text-decoration: none;
    color: grey;
}

.product-meta {
    margin-left: 10px;
    margin-top: 5px;
}

.product-title {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    color: black;
    height: 50px;
}


/*footer*/

.footer {
    font-size: 12px;
    font-weight: 200;
    padding: 0;
    min-width: 1188px;
    width: 100%;
    position: absolute;
    left: 0;
}

.footer-first {
    background: #183544;
    padding: 20px 0 25px;
    color: #fff;
    height: auto;
}

.page-footer-inner {
    margin: 0 auto;
    width: 1188px;
    overflow: hidden;
}

.page-footer-width-25 {
    width: 25%;
    float: left;
}

.page-footer-width-50 {
    width: 50%;
    float: left;
}

.footer-title {
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    margin: 0;
    color: #fff;
}

.footer-li {
    font-weight: 200;
    line-height: 17px;
    list-style: none;
}

.footer-li>a {
    color: #fff;
}

.footer-email-register {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.footer-email-wrap-right {
    float: right;
    width: 50%;
}

.footer-email-wrap-left {
    width: auto;
    overflow: hidden;
}

.footer-email-radio-group {
    float: left;
    height: 100%;
}

.footer-radio-lable {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 15px;
}

.footer-form-input-label {
    float: left;
    margin-left: 5px;
    margin-right: 10px;
}

.input-email {
    width: 300px;
    padding: 12px 0;
    background: #102632;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 300;
    text-indent: 12px;
    color: #fff;
}

.page-footer-app-downloads {
    margin-top: 25px;
}

.footer-form-input-submit {
    padding-left: 20px;
    float: right;
}

.footer-btn {
    padding: 12px 30px;
    background: #f36f36;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 300;
    outline: 0;
}