        .wrap {
            width: 1024px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            background-color: rgb(209, 197, 197);
            padding: 20px;
            border-radius: 10px;
        }
        
        .title {
            font-size: 25px;
        }
        
        .group {
            border: 2px solid rgb(197, 189, 189);
            background-color: white;
            padding: 20px;
            margin-top: 10px;
        }
        
        .img-fluid {
            border: 2px solid rgb(197, 189, 189);
        }
        
        .buttons {
            text-align: right;
        }
        
        button {
            color: #fff;
            padding: 0px 0px 0px 10px;
            background: rgb(172, 5, 14);
            background: linear-gradient(90deg, rgba(98, 2, 2) 21%, rgb(172, 5, 14) 20%);
        }